# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist

.yarn/*
!.yarn/releases

node_modules

yarn.lock

# Local Netlify folder
.netlify

.husky/post-checkout
